.baseWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 570px;
  max-width: 570px;
  top: 4%;
  max-height: 92%;
  overflow: auto;

  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar { /* Chrome, Safari */
    display: none;
  }

  .pageBody {
    backdrop-filter: blur(20px);
    border-radius: 32px;
    background: var(--panel-background);
    animation: moveIn .5s var(--transition);
    @keyframes moveIn {
      from { transform: scale(0) }
      to { transform: scale(1) }
    }
    @keyframes moveOut {
      from { transform: scale(1) }
      to { transform: scale(0) }
    }
    &.hide {
      animation: moveOut .5s var(--transition);
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    &.alt {
      grid-template-columns: 1fr 3fr;
    }
  }
  .imageContainer {
    height: 170px;
    width: 170px;
    background: var(--light-panel-background);
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image {
    width: 90px;
    height: 90px;
  }
  .cross {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 30px;
    left: 26px;
  }
  .cross::before,
  .cross::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px; /* Толщина линии */
    background: var(--text-color);
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    transition: background var(--transition);
    &:hover {
      background: var(--active-text-color);
    }
  }
  .cross::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  h1 {
    color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 24px 0;
  }
  .blockLeftImage {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  .blockRightImage {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
  .text {
    font-size: 22px;
    color: var(--text-color);
    text-align: center;
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
  }
}
