.navPanel {
  position: fixed;
  top: 4%;
  left: 0;
  backdrop-filter: blur(20px);
  border-radius: 0 32px 32px 0;
  background: var(--panel-background);

  padding: 24px;

  .navItem {
    user-select: none;
    padding: 5px 0 5px 0;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--text-color);
    transition: color .3s ;
    &:hover {
      color: var(--active-text-color);
    }
  }
  animation: fadeIn 0.5s;
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}